/* styles.css */

.light-theme {
    background-color: #fff;
    color: #000;
  }
  
  .dark-theme {
    background-color: #121212;
    color: #fff;
  }
  
  .font-small {
    font-size: 12px;
  }
  
  .font-md {
    font-size: 16px;
  }
  
  .font-large {
    font-size: 20px;
  }
  